doctype html
html
  head
    include templates/head.jade
  body.capture

    include templates/header.jade
    nav.titleAndActions
      div.buttons.alignRight
        .button.sidebyside
          a(href="/select/#{session}" class="btn icon bibli" data-toggle="tooltip" data-placement="left" title= __("Bibliothèque de médias"))
            include templates/images/icones-01.svg

        .sidebyside.count-add-media.plus-media +1
        .sidebyside.count-add-media.moins-media -1

        .title.centered= __("Interface de capture")

    div.container

      div.media-choice
        div.btn-choice
          button#photo= __("Image")
          button#video-btn= __("Vidéo")
          button#stopmotion= __("Stop motion")
          button#audio= __("Son")

      //- div.left
      div.captureLeft
        div.video-view
          video(id="video" autoplay)

          canvas(id="canvas-audio" width="480" height="256")

        div.capture
          div.photo-capture
            button#capture-btn(data-toggle="tooltip" data-placement="left" title= __("Enregistrer une photo"))
              include templates/images/save.svg
          div.video-capture
            div.video-save
              button(id='record-btn' data-toggle="tooltip" data-placement="left" title=__("Démarrer l\'enregistrement d\'une vidéo"))
                include templates/images/save.svg
              button(id='stop-btn' disabled)
                include templates/images/stop.svg
            span#elasped-time
          div.stopmotion-capture
            button#start-sm
              include templates/images/save.svg
            button#capture-sm
              include templates/images/save.svg
          div.audio-capture
            button(id='start-recording')
              include templates/images/save.svg
            button(id='stop-recording' disabled)
              include templates/images/stop.svg
        div.choice
          div.choices.image-choice 
            .caption= __("mode image")
          div.choices.video-choice 
            .caption= __("mode vidéo")
          div.choices.stopmotion-choice 
            .caption= __("mode stop motion")
          div.choices.audio-choice 
            .caption= __("mode audio")


      div.captureRight

        div.flash
        div.title.form-meta
          div.clear
            button#clear
              include templates/images/clear.svg
        div.screenshot
          canvas#canvas.canvas-view
          canvas(id="canvas-equalizer" width=480 height=256)
          video(id="camera-preview" autoplay controls loop)
          button#stop-sm
            include templates/images/enregistre.svg
        
        div.son
          audio(id="son" src="/star-wars-theme.mp3" controls)

      div.clone


    //- scripts
    include templates/footer.jade

    //- some packages for getting and attaching user media
    script(src="/js/lib/getusermedia.bundle.js")
    script(src="/js/lib/attachmediastream.bundle.js")
    //- a package for playing back the recording 
    script(src="/js/lib/fauxplay.bundle.js")
    script(src="/js/lib/video-recorder.bundle.js")
    script(src="/js/lib/RecordRTC.js")
    //- A real time javascript webm encoder based on a canvas hack
    script(src="/js/lib/whammy.min.js")
    script(src='/js/capture.js')

