doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body.feedback

    header.banner.navbar.navbar-default
      .navbar-container
        .navbar-header
          a.navbar-brand(href='/')
            img(src='/images/dodoc-logo-04.svg')
          .lopendocInstance
            | DoDOC
          .lopendocProjet
            | #{session}

        nav.collapse.navbar-collapse
          .actionsContainer
            ul.action-button.actions
              li.button.capture
                a(href="/select/#{session}/capture" class="capture-page btn-right")
                  | CAPTURE


    div.container-bibli

      div.buffer.demi
        div.buffer-header 
          h2 Bibliothèque de médias
        ul
        //- img(src="http://localhost:8080/coucou/1421235653853.jpg")

      div.montage.demi 
        div.montage-content
          div.montage-title
            input(type="text" value="Big Titre")
          div.block-content

    //- scripts
    script(src='/socket.io/socket.io.js')
    script var app = {}; app.session = "#{session}";
    script(src='/js/jquery-1.11.1.js')
    script(type="text/javascript" src="/js/modernizr-2.0.6.custom.js")

    script(src='/js/select.js')