doctype html
html
  head
    include templates/head.jade
  body.select

    include templates/header.jade


    div.container-bibli.multiCol

      div.buffer.demi

        div.buffer-header
          nav.titleAndActions
            div.buttons
              .button.sidebyside
                a.navbar-brand(href='/')
                  include ../public/images/dodoc-logo-04.svg  
              .button.sidebyside
                a(href="/select/#{session}/#{projet}/capture" class="btn icon capture"  data-toggle="tooltip" data-placement="bottom" title="Interface de capture")
                  include templates/images/capture.svg
              div(class ="button-add-media button btn icon" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ajouter un media")
                include templates/images/add.svg
              .title.centered= 'Bibliothèque de médias'

        ul.mediaContainer

      div.montage.demi 
        div.publish
          a(href="/select/#{session}/#{projet}/publi" class="btn icon publish"  data-toggle="tooltip" data-placement="left" title="Publier")
            include templates/images/enregistre.svg
        div.montage-content
          div.montage-title
            h1 #{projetFormat}
            //input(type="text" value= "Titre")
          //- div(class="add-text-montage btn icon publish"  data-toggle="tooltip" data-placement="right" title="Ajouter du texte")
          //-   include templates/images/pen.svg
          ul.montage-medias


    //- div.buffer-media
  
    //- TO DO DOC
    //- Pop hover media plein écran

    //- scripts
    include templates/footer.jade
    
    script(src='/js/select.js')